html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(../images/background_tile.png);  	
font-family: Helvetica,Arial,sans-serif;  
}

#wrapper
{height: 100%; 
overflow: hidden;
background-color: #121E2D;
}


.LoginContent
{width: 30%; margin-left:35%; margin-top:40px;}

ul
{	margin: 0px;
padding:0px;
list-style: none;
/*font-weight: bold;*/
}

.left
{float:left;}

.right
{float:right;}

/* --- Header --- */
#header
{    
  margin-bottom: 15px;
height:75px;
width:100%;
/* box-shadow: 0px 3px 15px #888888; */
background-color: #121E2D;
}

#header input {
margin-top: 25px;
margin-right: 15px;
margin-bottom: 0px;
padding-left: 10px;
float:right;
width: 200px;
}


#logo
{
margin-top: 15px;
margin-left: 15px;
width: 200px;
}

#menu
{
list-style-type: none;
margin-top: 0px;
width:550px; 
margin-left:auto; 
margin-right:auto;
}

#menu li
{
float:left;
color: white;
margin-right: 20px;
padding-top: 10px;
}

#menu ul
{
width:800px;
}

.imageLink
{
text-align:center;
}

.imageLink img
{
display:block;
margin-left: auto;
margin-right: auto;
}
.imageLink p 
{
margin-top: 8px;
margin-bottom: 0px;
font-size: 14px;
}


/* --- Sidebar --- */

#sidebar {
  background: #fff;
  width: 275px;
  min-height: 100%;
height: 100%;
  float:left;
  margin-right: 15px;
  padding-bottom: -100px;
}

#sidebarheader
{
height:50px;
width:275px;
background-color: #232323;
background-size:50px;
float:left;
-webkit-border-radius: 3px 3px 0px 0px;

}

#sidebarheader img
{
margin-right: 10px;
margin-top:10px;}


#sidebarheader p 
{
font-size: 24px;
margin-top: 12px;
margin-left: 15px;
font-weight: bold;
color: white;
}

#sidebarheader input {
width: 120px;
margin-top: 11px;
margin-left: 15px;
padding-left: 5px;
}


#alerts
{	
width:275px;
height: 100%;
overflow: scroll;
}

.alarm
{
height: 118px;
width:275px;
background-color: #ededed;
border-bottom-style:solid;
border-bottom-color: #d8d8d8;
border-top-style: solid;
border-top-color: #fafafb;
border-width:1px;
overflow: hidden;
line-height: 20px;
}

.alarm.selected {background-color: #d8d8d8;}

.alarm3
{
height: 150px;
width:275px;
background-color: #fff;
border-bottom-style:solid;
border-color:#868686;
border-width:1px;
overflow: auto;
}

#wifiTable
{
margin-top: 10px;
}

#status 
{
width:24px;
height: 116px;
float:left;
}

#alerts li
{
font-size:16px;	
}

li a
{
color: white;
text-decoration: none;
}

a, img {
  border:none;
}

.grey
{color: #495966;}

div.active
{
background-color: #ed1c24;
}

div.accepted
{
background-color: #fff200;
}

div.closed
{
background-color: #8dc63f;
border-bottom-style:solid;
border-bottom-color: #54a726;
border-top-style: solid;
border-top-color: #96d475;
border-width:1px;
}

div.active
{
background-color: #ff001a;
border-bottom-style:solid;
border-bottom-color: #d40016;
border-top-style: solid;
border-top-color: #ff6777;
border-width:1px;
}

div.accepted
{
background-color: #fff200;
border-bottom-style:solid;
border-bottom-color: #dcd100;
border-top-style: solid;
border-top-color: #fffbaf;
border-width:1px;
}

.closed
{
font-weight: bold;
}

.active
{
font-weight: bold;
}

.accepted
{
font-weight: bold;
}

/* --- Map --- */

#mapContainer {
  min-height: 100%;
  height: 100%;
  overflow: auto;
  -webkit-border-radius: 3px 3px 0px 0px;
}

#gMapContainer {
width: 100%;
}

.mapClass
{
position: absolute;
top: 270px;
bottom: 0;
left: 290px;
right: 640px;
  background-color: #DDD;
  overflow: auto;
}

#pusher
{
padding-bottom: 150px;
overflow: auto;
}

#satusdata {
/* background-color: #444; */
-webkit-border-radius: 3px 3px 0px 0px;
}

#iceinfo
{
overflow: hidden;
width: 800px;
}

#statusdataheader
{
height:50px;
width:100%;
background-color: #2192FE;
background-size:50px;
-webkit-border-radius: 3px 3px 0px 0px;
overflow: hidden;
margin-bottom: 20px;
border-radius: 7px;
}

#statusdataheader .info
{
height:50px;
float: left;
color: #000;
line-height:25px;
margin-left: 12px;
}


.statusul
{
margin-left: 15px;
margin-top: 10px;	
float:left;
width:210px;
}

.statusulli
{
font-size: 14px;
font-weight: normal;
}

.statushidden {
display: none;
}


#elapsedtime
{
float:right;
margin-top: 10px;
margin-right: 20px;
}

#statusdataheader img {
margin-right: 0px;
margin-top: 0px;
}

#statusdataheader p 
{
font-size: 24px;
margin-top: 14px;
margin-left: 15px;
margin-bottom: 0px;
font-weight: bold;
color: white;}

#statusdataheader input {
margin-top: 11px;
margin-right: 15px;
margin-bottom: 0px;
padding-left: 10px;
float:right;
}


#contactgroupheader 
{
font-size: 16px;
margin-top: 14px;
margin-left: 15px;
margin-bottom: 14px;
font-weight: bold;
color: white; }

#contactgroupheader input {
  border: 1px solid #c9c9c9;
  height: 25px;
  width: 200px;
  border-radius: 4px;
  border-radius: 4px; }

#contactgroupheader select {
  border: 1px solid #c9c9c9;
  height: 25px;
  width: 200px;
  -webkit-border-radius: 4px;
  moz-border-radius: 4px;
  border-radius: 4px; }

#contactgroupheader div
{
background: #444444; }

#personcontainer
{
float:left;
/*width: 365px;*/
line-height: 22px;
}

#personcontainer ul
{
margin: 10px 0px 0px 15px;
padding:0px;
list-style: none;
font-size: 16px;
}

.datadiv
{
/*width: 100%;*/
height: 132px;
background-color: #444;
color: #fff;
}

.dSettings
{
background-color: #081420 !important;
height:100% !important;
min-height: 100% !important;
padding-bottom: 90px;
}

.dSettings hr
{
-webkit-margin-after: 0px;
}

#acceptbutton
{
float: right;
margin-top: 0px;
border: 1px solid #6e9635;
color: white;
box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
font-size: 150%;
background-color: #8dc73f;
}

#closebutton
{
float: right;
margin-top: 0px;
border: 1px solid #c80100;
color: white;
box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
font-size: 150%;
background-color: #ff0201;
}

#statuscontainer
{
margin-right: 15px;
margin-top: 15px;
font-size: 16px;
width: 30%;
}

#statuscontainer li
{
text-align: right;
margin-bottom: 5px;
}

#alertactive div {
font-size: 24px;
color: #000;
line-height: 50px;
text-align: center;
font-weight: bold;
}

#alertactive {
height: 50px;
background-color: #ff0000;
opacity:1;
filter:alpha(opacity=70); /* For IE8 and earlier */
z-index: -1;
}

#alertaccepted div {
font-size: 24px;
color: #000;
line-height: 50px;
text-align: center;
font-weight: bold;
}

#alertaccepted {
height: 50px;
background-color: #ffff00;
opacity:1;
filter:alpha(opacity=70); /* For IE8 and earlier */
z-index: -1;
}

#alertclosed div
{
font-size: 24px;
color: #000;
line-height: 50px;
text-align: center;
font-weight: bold;
}

#alertclosed {
height: 50px;
background-color: #8dc63f;
opacity:1;
filter:alpha(opacity=70); /* For IE8 and earlier */
z-index: -1;
}

#noposition p {
font-size: 24px;
color: #000;
line-height: 50px;
text-align: center;
font-weight: bold;
}

#noposition {
height: 50px;
background-color: #ff0000;
opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
z-index: -1;
}

/* --- Users --- */
.datadiv hr
{
width:98%;
border:0px;
color:#e1e1e1;
background-color: #e1e1e1;
height:1px;
}

.rowhdr
{text-align: left;
padding-left:15px;
color: white;
}

.rownum
{
padding-top: 5px;
padding-left:20px;
padding-right:20px;
color: whitesmoke;
vertical-align: top;
}

.rownum2
{
padding-left:0px;
padding-right:20px;
}

.rowinfo
{
padding-left: 5px;
color: darkgray;
}

.rowinfo2 input
{
padding-left: 5px;
width: 150px;
}

input
{
width: 400px;
height: 25px;
-webkit-border-radius: 4px;
moz-border-radius: 4px;
     border-radius: 4px;
border: 1px solid #c9c9c9;
}

.rowinfo select
{
width: 400px;
height: 25px;
-webkit-border-radius: 4px;
moz-border-radius: 4px;
     border-radius: 4px;
border: 1px solid #c9c9c9;
}

table
{
margin-top: 16px;
}

td
{
padding-bottom: 10px;
}

.savebtn
{
margin-left: 30px;
margin-top: 10px;
}

.savebtn2
{
margin-left: 30px;

}



/* --- Mätare på kartan --- */
#duration p
{
font-weight: 200%;
font-size: 34px;
color: white;
margin: 0px;
color:#000;

}
#duration small
{
font-size: 15px;
}

#duration
{
width: 200px;
height: 70px;	
position: absolute;
bottom: 20px;
display: inline;
text-align: center;

margin-left: auto;
margin-right: auto;
left:50%;
}

#durationCounter
{
margin-left: -270px;
padding-top: 7px;
height: 70px;
background-color: #fff;	
border-bottom-style:solid;
border-color:#868686;
border-width:3px;	
opacity:0.8;	
filter:alpha(opacity=80); /* For IE8 and earlier */
width: 200px;
}

#distance
{
width: 200px;
height: 70px;	
position: absolute;
bottom: 20px;
display: inline;
text-align: center;

margin-left: auto;
margin-right: auto;
left:50%;
}

#distance p
{
font-weight: 200%;
font-size: 34px;
color: white;
margin: 0px;
color:#000;

}
#distance small
{
font-size: 15px;
}
#sticky
{
min-height: 100%;
}

#tabheader { background-color: #232323; color: #ededed; border-radius: 5px 5px 0px 0px; width: 800px;}
#tabheader ul { font-weight: normal; list-style: none; padding-left:0; margin:0; vertical-align: middle; width:100%}
#tabheader li { float: left; vertical-align: middle; margin:0px; line-height: 34px; font-size:19px; padding:8px 30px; cursor:pointer; border-radius: 5px 5px 0px 0px; }
#tabheader li.selected {background-color: #444;}
#tabheader li.unselected {background-color: #232323;}

input[name=wlaninfo] {    
border: 0px;
}  

.portaladdress
{
border: 1px solid #c9c9c9 !important;
}

#videobuttons {
margin-top: 0px;
}

#videobuttons tr td input { 
background-color: #4cd964; 
border: 0px solid #000;
border-radius: 5px;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
width: 100px;
font-weight: bold;
color: #fff;
height: 30px;
margin: 20px;
}

#videobuttons tr td input[disabled] {
background-color: #ff2d55; 
}

#alarmcenterinfo p {
  margin: 0;
  padding: 0;
}

#novideo {
  color: #ffffff;
  text-align: center;
}

#novideo span {
display: inline-block;
vertical-align: middle;
line-height: normal;
}

.ui-autocomplete {
  background: #ffffff;
  width:400px;
  z-index: 2;
  border: 1px solid #c9c9c9;
  font-size: 0.9em;
  line-height: 2em;
  padding: 0.3em;
}

#videoinprogress {
width:640px;
color: #ffffff;
text-align: center;
margin-top: 200px;
}

#videotable td {
 padding:0; margin:0;
}

#screenshotlink {
border: 1px solid #6e9635;
color: white;
box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
background-color: #007bff;
padding:2px 5px 2px 5px;
}